body {
    background-image: url("../img/soft_circle_scales.png");
}
.nav-btn {
    padding-left: 5px;
    border-left: solid;
    border-color: white;
    border-width: 1px;
}
.spacer {
    height: 5em;
}
#addNew {
    margin-top: 1em;
}
#navbar {
    color: ghostwhite;
    text-align: right;
    padding-right: 5px;
}
#removeLast {
    margin-top: 1em;
}
#title {
    font-size: 5em;
}