body {
    background-image: url("../img/soft_circle_scales.png");
}
.spacer {
    height: 5em;
}
#addNew {
    margin-top: 1em;
}
#navbar {
    color: ghostwhite;
    text-align: right;
    padding-right: 1em;
}
#removeLast {
    margin-top: 1em;
}
#title {
    font-size: 5em;
}