body{
    font-family: 'Special Elite', cursive;
    background-color: whitesmoke;
    background-image: url(../img/seigaiha.png);
    font-size: 1.5em;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 1em;
}
.jumbotron{
    background-image: url(../img/tokyo.jpeg);
    border-bottom: .07em solid black;
    height: 43em;
}
.line{
    border: .07em solid black;
    margin-bottom: .7em;
}
.navbar-brand{
    padding-left: 1.5em;
}
.navbar-nav{
    padding-right: 1em;
}
.portfolio-list{
    text-align: left;
}
.project{
    text-align: center;
}
.project-img{
    margin: .7em;
}
.resume{
    text-align: center;
    position: relative;
    left: 17em;
    clear: both;
}
.social{
    margin-top: 3.6em;
    background-color: dimgrey;
    height: 6em;
    clear: both;
}
.space{
    margin: 3.6em;
}
.nav-button:hover{
    text-decoration: none;
    color: lightgrey;
}
#email-nav{
    float: right;
}
#headshot{
    float: right;
    position: relative;
    right: 7.1em;
    top: .7em;
}
#subtitle{
    position: relative;
    left: 1.25em;
    clear: left;
}
#title{
    position: relative;
    left: .25em;
    color: ghostwhite;
}
#subtitle>a{
    color:ghostwhite;
}
#subtitle>a:hover{
    color: lightgrey;
    text-decoration: none;
}
