body{
    background-color: #831919;
    color: #F2CFA5;
    font-family: 'Abril Fatface', cursive;
}
h1{
    text-align: center;
    font-size: 100px;
}
button{
    border: 0;
    padding: 0;
    background-color: #831919;
}
.line{
    border: 1px solid #512B15;
    margin-top: 25px;
    margin-bottom: 25px;
    clear: both;
}
#button-label{
    float: left;
}
#pizza-button{
    margin: 5px;
    border: 2px solid #512B15;
}
#pizza-pic{
    float: right;
    position: relative;
    bottom: 50px;
    right: 275px;
    border: 0;
}